body{background-color: blueviolet;}
.parent {
  border: 5px solid black;
  height: 500px;
  width: 550px;
  position: relative;
  margin: 0px auto;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
}
.parent1 {
  
  background-image: url(water.jpg);
  
}
.child1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  color: white;
}

.link1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.parent2 {
  
  background-image: url(kangaroo.jpg);
  opacity: 0.75;
}

.child2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(19, 233, 48);
  opacity: 1;
}

.link2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(218, 9, 9);
  opacity: 1;
}

.text2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(46, 241, 12);
  opacity: 1;
}

.parent3 {
  
  background-image: url(pray.jpg);
  
}
.child3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.link3 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.text3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}